<div class="wrapper">
    <app-sidemenu></app-sidemenu>
  
    <div class="content-wrapper">
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Coupon Managment</h3>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                      <div class="ui-inputgroup">
                        <button pTooltip="Add new Coupon" label="Add" pButton type="button" icon="pi pi-plus" iconPos="left"
                          data-toggle="modal" (click)="action('add')" data-target="#myModal"></button>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                    </div>
                  </div>
                  <p-table #dt [value]="couponsList" [tableStyle]="{'table-layout':'auto'}" [paginator]="true"
                    [rows]="15" [responsive]="true" selectionMode="single" dataKey="title">
                    <ng-template pTemplate="header">
                      <tr>
                        <th id="">Coupon Name</th>
						<th id="">Coupon Code</th>
                        <th id="">Amount Applied</th>
                        <th id="">Valid Till</th>
                        <th id="">Created Date</th>
                        <th id="">Status</th>
                        <th id="">Edit</th>
                        <th id="">Delete</th>                        
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                      <tr>
                        <td>{{item.couponName}}</td>
						<td>{{item.couponCode}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.valid}}</td>
                        <td>{{item.createdAt|date}}</td>
                        <td>{{item.active}}</td>
                         <td>
                          <button pTooltip="Edit" pButton type="button" data-toggle="modal" (click)="edit(item)"
                            data-target="#myModal" icon="pi pi-pencil" iconPos="left" class="ui-button-info"></button>
                        </td>
                        <td><button pTooltip="delete" pButton type="button" icon="pi pi-trash" iconPos="left"
                          (click)="delete(item)" class="ui-button-danger"> </button></td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                      <div style="text-align: left">
                        <code>
                        <div *ngFor="let item of userda| keyvalue">
                          {{ item.key }} - {{ item.value }}
                        </div>
                      </code>
                      </div>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{crud|uppercase}} Coupon</h4>
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="box box-primary">
            <div class="box-body">
  
              <div class="form-group">
                <label for="">Coupon Name</label>
                <input  type="text" class="form-control" [(ngModel)]="coupon.couponName">
              </div>
              <div class="form-group">
                <label for="">Coupon Code</label>
                <input type="text" class="form-control" [(ngModel)]="coupon.couponCode">
              </div>
              <div class="form-group">
                <label for="">Amount Applied</label>
                <input type="number" class="form-control" [(ngModel)]="coupon.price">
              </div>
              <div class="form-group">
                <label for="">Valid Till</label>
                <input type="text" class="form-control" [(ngModel)]="coupon.valid">
              </div>
              <div class="form-group">
                <label>Status</label><br />
                <p-toggleButton onLabel="Enable" offLabel="Disable" onIcon="fa fa-check" offIcon="fa fa-times"
                  iconPos="right" [(ngModel)]="coupon.active">
                </p-toggleButton>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p-button icon="pi pi-check" iconPos="left" type="button" (click)="addCoupon()" data-dismiss="modal" label="Save">
          </p-button>
        </div>
      </div>
    </div>
  </div>