<div class="wrapper">
    <app-sidemenu></app-sidemenu>
<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{post?.title}} ({{category?.title}}) </h3>
            <p-button pTooltip="Add Image of {{post?.title}}" label="Upload Image" styleClass="ui-button-info" icon="pi pi-cloud-upload"
              iconPos="left" (click)="fileInput.click()"></p-button>
          </div>
          <div class="content">
            <div class="row">
              <div class="form-group">
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
              </div>
              <p-card *ngIf="imagedetails.length===0">
                <p-message severity="warn"
                  text="No image added on for {{post?.title}} add image for better experience in UI ">
                </p-message>
              </p-card>
              <div class="col-md-3 padding" *ngFor="let item of imagedetails">
                <p-card>
                  <a target="_blank" (click)="navigateToResource(item.image)">
                    <img class="thumbnail" [src]="item.image" width="200" height="150" />
                  </a>
                  <p-footer>
                    <p-button icon="pi pi-trash" iconPos="left" (click)="delete(item)"></p-button>
                  </p-footer>
                </p-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>