<div class="wrapper">

<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
 
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Promote Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="newlocation" name="newlocation" placeholder="Add new location" value="">
                  </mat-form-field>
                  <button mat-icon-button (click)="addLocation()"> 
                    <mat-icon >save</mat-icon>
                  </button>
                  <mat-form-field >
                    <mat-select placeholder="Location" name="location"  [(ngModel)]="cat.location">
                      <mat-option *ngFor="let item of promoteLocationList" [value]="item.location.id">
                        {{item.location.location}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="cat.title" name="title" placeholder="Title" value="">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="cat.description" name="description" placeholder="Description" value=""></textarea>
                  </mat-form-field>
                  <input  
                  style="display: none" 
                  type="file" (change)="onFileChanged($event)" 
                  #fileInput>
                  <button mat-icon-button (click)="fileInput.click()">Upload image
                    <mat-icon >cloud_upload</mat-icon>
                  </button>
                </form>
                <button   mat-raised-button color="accent"  (click)="addCategory(crud)" >{{crud}}</button>
                <button mat-icon-button *ngIf="crud=='edit'" (click)="cancel('add')"> 
                  <mat-icon >cancel</mat-icon>
                </button>
                <table mat-table [dataSource]="category" class="mat-elevation-z8">
                  <!-- Index Column -->
                  <!-- Index Column -->
                  <ng-container matColumnDef="Slno">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let index = index"> {{index+1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef>Title    </th>
                    <td mat-cell *matCellDef="let item"> {{item.title}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef>Description    </th>
                    <td mat-cell *matCellDef="let item"> {{item.description}} </td>
                  </ng-container>
                  <!-- Index Column -->
                  <ng-container matColumnDef="Image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let item"> <img mat-card-sm-image [src]="item.image" h="70"/>  </td>
                  </ng-container>
                  <!-- Index Column -->
                  <ng-container matColumnDef="Subimage">
                    <th mat-header-cell *matHeaderCellDef> Subimage </th>
                    <td mat-cell *matCellDef="let item">
                      <input  
                      style="display: none" 
                      type="file" (change)="addImage($event,item._id)" 
                      #fileInput>
                      <button mat-icon-button (click)="fileInput.click()"> 
                        <mat-icon >add_photo_alternate</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="showsubimage">
                    <th mat-header-cell *matHeaderCellDef> show sub image </th>
                    <td mat-cell *matCellDef="let item"> 
                      <button mat-icon-button data-toggle="modal"   data-target="#myModal" (click)="getpromoterImage(item)"> 
                        <mat-icon >add_to_photos</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let item"> 
                      <button mat-icon-button (click)="edit(item)"> 
                        <mat-icon >edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let item                                                                                                                                         "> 
                      <button mat-icon-button (click)="delete(item)"> 
                        <mat-icon >delete_forever</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-card>
            </div>
          </div>  </div>
        </div>
      </div>
    </section>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{crud|uppercase}} Category</h4>
        </div>
        <div class="modal-body">
          <div class="box box-primary">
            <div class="box-body">
              <mat-grid-list cols="4" rowHeight="2:1">
                <mat-grid-tile *ngFor="let link of promoteimage;let i=index">
                  <img mat-card-sm-image [src]="link.image"   h="50"/>               
                  <button mat-icon-button (click)="deletePromoterimage(link,i)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
          <button type="button" class="btn btn-default"  (click)="addCategory(crud)" >{{crud|uppercase}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>