<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item has-treeview">
      <a href="javascript:;" class="nav-link" data-widget="pushmenu"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item has-treeview d-none d-sm-inline-block">
      <a href="javascript:;" (click)="goBack()" class="nav-link"> <i class="fa fa-arrow-left"></i> back
      </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item has-treeview dropdown">
      <a href="javascript:;" class="nav-link" data-toggle="dropdown">
        <i class="fa fa-cog fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-header">
          <i class="fa fa-cog fa-fw" aria-hidden="true"> </i>Setting</span>
        <div class="dropdown-divider"></div>
        <a href="javascript:;" (click)="flushAllRedisMemory()" class="dropdown-item btn-danger"> <i
            class="fa fa-trash"></i> Flush Redis DB Cache Memory
        </a>
        <!-- <a href="javascript:;" class="nav-link" routerLink="/admin" class="dropdown-item">
          <i class="fas fa-user mr-2"></i>Change Password
        </a> -->
        <a href="javascript:;" (click)="logout()" class="dropdown-item">
          <i class="fa fa-battery-half" aria-hidden="true"></i>
          Sign out</a>
      </div>
    </li>
  </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="javascript:;" class="brand-link">
    <span class="brand-text font-weight-light">Admin</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column ml-auto" data-widget="treeview" role="menu"
        data-accordion="false">
        <li class="nav-item has-treeview"  *ngIf="checkPrivilege('Dashboard')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/dashboard">
            <i class="nav-icon fas fa-bar-chart"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Order Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/order"
            [queryParams]="{type:'total-order'}">
            <i class="nav-icon fa fa-shopping-bag"></i>
            <span>Order Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('User Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/users">
            <i class="nav-icon fas fa-users"></i>
            <span>User Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Category Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/category">
            <i class="nav-icon fas fa-suitcase"></i>
            <span>Category Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Promote Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/promote">
            <i class="nav-icon fas fa-rocket"></i>
            <span>Promote Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Post Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/post">
            <i class="nav-icon fa fa-clipboard"></i>
            <span>Post Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Product Category Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/product-category/undefined">
            <i class="nav-icon fa fa-sitemap"></i>
            <span>Product Category Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Meat Category Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/meat/undefined">
            <i class="nav-icon fa fa-sitemap"></i>
            <span>Meat Category Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Grocery Essential Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/grocery/undefined">
            <i class="nav-icon fa fa-sitemap"></i>
            <span>Grocery Essential Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Product-tag Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/product-tag">
            <i class="nav-icon fas fa-tags"></i>
            <span>Product-tag Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Google Data Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/placeapi">
            <i class="nav-icon fa fa-google"></i>
            <span>Google Data Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Driver Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/driver">
            <i class="nav-icon fas fa-car"></i>
            <span>Driver Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Banner Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/banner">
            <i class="nav-icon fas fa-picture-o"></i>
            <span>Banner Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="checkPrivilege('Coupon Management')">
          <a href="javascript:;" class="nav-link" (click)="hideMenu()" routerLink="/coupon">
            <i class="nav-icon fas fa-gift"></i>
            <span>Coupon Management</span>
          </a>
        </li>
        <li class="nav-item has-treeview" >
          <a href="javascript:;" (click)="hideMenu()" class="nav-link" (click)="logout()">
            <i class=" nav-icon fa fa-sign-out"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  </aside>