<div class="wrapper">
    <app-sidemenu></app-sidemenu>
<div class="content-wrapper">
  
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Product tag Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button pTooltip="Add new category" label="Add" pButton type="button" icon="pi pi-plus" iconPos="left"
                data-toggle="modal" (click)="action('add')" data-target="#myModal"></button>
              <p-table [columns]="cols" #dt [value]="category" [paginator]="true" [rows]="50" [responsive]="true"
                selectionMode="single" dataKey="tag">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <input type="search" pTooltip="search" tooltipPosition="top" pInputText size="50"
                      placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Tag</th>
                    <th>Show in app</th>
                    <th>Set Image</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>{{item.tag}}</td>
                    <td>
                      <p-toggleButton onLabel="Enable" offLabel="Disable" onIcon="fa fa-check" offIcon="fa fa-times"
                        iconPos="right" (onChange)="change_active_status($event,item)" [(ngModel)]="item.active">
                      </p-toggleButton>
                    </td>
                    <td> <a class="text-link" (click)="showDialog(item)">
                        <img class="thumbnail" [src]="item.url" width="50" height="50" />
                      </a>
                    </td>
                    <td>
                      <button pTooltip="Edit" pButton type="button" data-toggle="modal" (click)="edit(item)"
                        data-target="#myModal" icon="pi pi-pencil" iconPos="left"
                        class="ui-button-info"></button><button pTooltip="delete" pButton type="button"
                        icon="pi pi-trash" iconPos="left" (click)="delete(item)" class="ui-button-danger"> </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true" [maximizable]="true"
  [baseZIndex]="10000">
  <div class="col-md-3 padding" *ngFor="let item of image">
    <p-card>
      <a target="_blank" (click)="navigateToResource(item)">
        <img class="thumbnail" [src]="item.url" width="200" height="150" />
      </a>
    </p-card>
  </div>
</p-dialog>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.tag">
            </div>
          </div>
        </div>
        <p-button icon="pi pi-check" iconPos="left" type="button" (click)="addCategory()" data-dismiss="modal"
          label="Save"></p-button>
      </div>
    </div>
  </div>
</div>
</div>