<div class="wrapper">

<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
 
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Category Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button pTooltip="Add new category" label="Add" pButton type="button" icon="pi pi-plus" iconPos="left"
                data-toggle="modal" (click)="action('add')" data-target="#myModal"></button>
              <p-table [columns]="cols" #dt [value]="category" [tableStyle]="{'table-layout':'auto'}" [paginator]="true"
                [rows]="8" [responsive]="true" selectionMode="single" dataKey="title">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <input type="search" pTooltip="search" tooltipPosition="top" pInputText size="50"
                      placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Title</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td><img [src]="item.image" width="25" />{{item.title}}</td>
                    <td>
                      <button pTooltip="Edit" pButton type="button" data-toggle="modal" (click)="edit(item)"
                        data-target="#myModal" icon="pi pi-pencil" iconPos="left" class="ui-button-info"></button>
                    <td> <button pTooltip="delete" pButton type="button" icon="pi pi-trash" iconPos="left"
                        (click)="delete(item)" class="ui-button-danger"> </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" placeholder="Enter Title" [(ngModel)]="cat.title">
            </div>
           
            
            <div class="form-group">
              <label>Status</label><br />
              <p-toggleButton onLabel="Enable" offLabel="Disable" onIcon="fa fa-check" offIcon="fa fa-times"
                iconPos="right" [(ngModel)]="cat.active">
              </p-toggleButton>
            </div>

            <div class="form-group">
              <label>Image</label>
              <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
              <button (click)="fileInput.click()">Select File</button>
            </div>
          </div>
        </div>

        <p-button icon="pi pi-check" iconPos="left" type="button" (click)="addCategory()" data-dismiss="modal"
          label="Save"></p-button>

      </div>
    </div>
  </div>
</div>
</div>