<div class="wrapper">

<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
 
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{title}} Product Category   </h3>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button pTooltip="Add Product category" label="Add" pButton type="button" icon="pi pi-plus" iconPos="left"
                data-toggle="modal" (click)="action('add')" data-target="#myModal"></button>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <p>Selected Restaurant:</p>
                    <p-dropdown [options]="post" [(ngModel)]="singleSelect" (onChange)="changeValue($event.value._id)"
                    optionLabel="title" [filter]="true"></p-dropdown>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p-table [columns]="cols" #dt [value]="ProductCategory" [tableStyle]="{'table-layout':'auto'}"
                [paginator]="true" [rows]="20" [responsive]="true" selectionMode="single" dataKey="title">
                <ng-template pTemplate="caption">
                  <div style="text-align: right">
                    <input type="search" pTooltip="search" tooltipPosition="top" pInputText size="50"
                      placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width:auto">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td><a [routerLink]="['/product', item.id]"> {{item.title|uppercase}}</a></td>
                    <td> <button type="button" class="btn btn-info btn-xs" data-toggle="modal" (click)="edit(item)"
                        data-target="#myModal">Edit</button>
                    <td> <button type="button" class="btn btn-danger btn-xs" (click)="delete(item)">Delete</button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Product Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInput1">Title</label>
              <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.title">
            </div>
          </div>
        </div>
         <p-button icon="pi pi-check" iconPos="left" type="button" (click)="addCategory()" label="Save"></p-button>

      </div>
    </div>
  </div>
</div>
</div>