<div class="wrapper">
  <app-sidemenu></app-sidemenu>
  <div class="content-wrapper">
    <section class="content" *ngIf="view">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Order Management </h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-warning btn-xs" (click)="back();view=!view">Close</button>
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content" *ngIf="!view">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Order Management ({{title|uppercase}})</h3>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Total Sales {{totalprice|currency:'INR'}}</p>
                <p>Range</p>
                <p-calendar [(ngModel)]="rangeDates" [locale]="en" [monthNavigator]="true" [yearNavigator]="true"
                  yearRange="2000:2030" selectionMode="range"></p-calendar>
                <p-button (click)="getOrder()" icon="pi pi-search"></p-button>
                <p-table [columns]="cols" #dt [value]="orderList|filterorder" [tableStyle]="{'table-layout':'auto'}"
                  [(selection)]="selectedItem" [paginator]="true" [rows]="20" (onPage)="paginate($event)"
                  [totalRecords]="totalRecords" [responsive]="true" selectionMode="single" dataKey="id">
                  <ng-template pTemplate="caption">
                    <button (click)="view=!view" *ngIf="selectedItem" [routerLink]="['detail', selectedItem.id]" pButton
                      type="button" label="View" icon="pi pi-eye"></button>
                    <div style="text-align: right">
                      <input type="search" pTooltip="search" tooltipPosition="top" pInputText placeholder="Filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
                    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                      <td *ngFor="let col of cols">
                        {{item[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>