<section class="wrapper">
    <h6>#{{orderList.orderid}} / {{orderList.totalprice|currency:'INR'}} / {{orderList.createdAt|date:'medium'}}</h6>
    <table class="table table-bordered table-striped table-condensed table-responsive table-hover	">
        <tr>
            <td>Order by </td>
            <td>{{userList.firstname}} {{userList.lastname}} ({{userList.phone}})
            </td>
        </tr>
        <tr>
            <td>User Address </td>
            <td>{{userList.address}}</td>
        </tr>
        <tr>
            <td>User Shipping Address </td>
            <td>
                Locality: {{shippingAddress.locality}} <br />
                City: {{shippingAddress.city}} <br />
                Address: {{shippingAddress.address}} <br />
                Landmark: {{shippingAddress.landmark}} <br />
                Phone: {{shippingAddress.phone}} <br />
            </td>
        </tr>
        <tr>
            <td>Shop </td>
            <td>{{shopList.title}} ({{shopList.phone}})</td>
        </tr>
        <tr>
            <td>Shop address </td>
            <td>{{shopList.address}}</td>
        </tr>
        <tr>
            <td>Driver
                <span class="label label-success" *ngIf="orderList.driverid">
                    {{orderList.driverid.driver_first_name}}
                    {{orderList.driverid.driver_last_name}}
                </span>
                is assigned
                  </td>
            <td><select *ngIf="orderList.status==0" (change)="assignDriver($event)">
                    <option>Assign Driver</option>
                    <option *ngFor="let item of driverList" [value]="item.id">{{item.driver_first_name}}
                        {{item.driver_last_name}}</option>
                </select></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {{(orderList.status===0)?'pending':'delivered'}}</td>
        </tr>
    </table>
    <table class="table table-bordered table-striped table-condensed table-responsive table-hover	">
        <thead>
            <tr>
                <th>Product order ID #{{orderList.orderid}}</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">SubTotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart">
                <td>
                    <div class="media">
                        <div class="media-body">
                            <li>{{item.productid.title}}</li>
                        </div>
                    </div>
                </td>
                <td>
                    {{item.quantity}} </td>
                <td>
                    <s *ngIf="item.productid.discount>0">{{item.productid.price|currency:'INR'}}</s>
                    {{item.productid.price-item.productid.discount|currency:'INR'}}
                </td>
                <td>
                    {{(item.productid.price-item.productid.discount)*item.quantity|currency:'INR'}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    Delivered fee
                </td>
                <td>
                    {{orderList.deliveredfee|currency:'INR'}}
                </td>
            </tr>
            <tr>
                <td> Shop accept   </td>
                <td>
                    {{(orderList.shop_accept  ===0)?'pending':'accept'}}
                    <p-inputSwitch (onChange)="updateOrder(orderList,'shop_accept')"
                        [(ngModel)]="orderList.shop_accept"></p-inputSwitch>
                </td>
                <td>
                    Discount
                </td>
                <td>
                    {{orderList.discount|currency:'INR'}}
                </td>
            </tr>
            <tr>
                <td>Shop prepared  </td>
                <td> {{(orderList.shop_prepared ===0)?'pending':'accept'}}
                    <p-inputSwitch (onChange)="updateOrder(orderList,'shop_prepared')"
                        [(ngModel)]="orderList.shop_prepared"></p-inputSwitch>
                </td>
                <td>
                    cgst
                </td>
                <td>
                    {{orderList.cgst|currency:'INR'}}
                </td>
            </tr>
            <tr>
                <td>Driver accept </td>
                <td> {{(orderList.driver_accept===0)?'pending':'accept'}}
                    <p-inputSwitch (onChange)="updateOrder(orderList,'driver_accept')"
                        [(ngModel)]="orderList.driver_accept"></p-inputSwitch>
                      </td>
                <td>
                    sgst
                </td>
                <td>
                    {{orderList.sgst|currency:'INR'}}
                </td>
            </tr>
            <tr>
                <td> Driver picked </td>
                <td> {{(orderList.driver_picked ===0)?'pending':'accept'}}
                    <p-inputSwitch (onChange)="updateOrder(orderList,'driver_picked')"
                        [(ngModel)]="orderList.driver_picked"></p-inputSwitch>
                </td>
                <td>
                    Total
                </td>
                <td>
                    <b>{{orderList.totalprice|currency:'INR'}}</b>
                </td>
            </tr>
            <tr>
                <td> User received   </td>
                <td> {{(orderList.user_received===0)?'pending':'accept'}}
                    <p-inputSwitch (onChange)="updateOrder(orderList,'user_received')"
                        [(ngModel)]="orderList.user_received"></p-inputSwitch>
                </td>
                <td>
                </td>
                <td>
            </tr>
        </tbody>
    </table>
    <div class="card-body">
        <button type="button"
            [class]="(orderList.status===2)?'btn btn-block  btn-lg btn-danger':'btn btn-block  btn-lg btn-outline-danger'"
            (click)="updateOrderAll('cancel')">Cancelled order</button>
        <button type="button"
            [class]="(orderList.status===1)?'btn btn-block  btn-lg btn-success':'btn btn-block  btn-lg btn-outline-success'"
            (click)="updateOrderAll('delivered')">Delivered order</button>
    </div>
</section>