<div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Restaurant Admin</b></a>
    </div>
     <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form novalidate  #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
            <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)] = "user.email" >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" [(ngModel)] = "user.password" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
             <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
           </div>
        </form>
      </div>
     </div>
  </div>