<table class="table table-hover">
  <tr *ngFor="let emp of list">
    <td (click)="populateForm(emp)">[{{emp.EMPCode}}]-{{emp.FullName}}</td>
    <td (click)="populateForm(emp)">{{emp.Position}}</td>
    <td (click)="populateForm(emp)">{{emp.Mobile}}</td>
    <td (click)="populateForm(emp)">{{emp.region}}</td>
    <td><button (click)="onDelete(emp)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>