<div class="wrapper">

<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
 
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Banner Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="select banner dropdown"></label>
              <p-dropdown pTooltip="select banner dropdown" [options]="bannerList" (onChange)="bannerChange($event.value)"
                optionLabel="title"></p-dropdown>
              <p-dropdown pTooltip="select shop name and assign selected shop to banner 1 only" *ngIf="selectedItem && bannertype===1"
                (onChange)="updateBanner($event.value)" [options]="filteredOptionsData" filterBy="shopName,value.phone"
                [filter]="true" optionLabel="shopName"></p-dropdown>
              <input type="file" (change)="addImage($event)" #fileInput pTooltip="upload banner image" label="Upload"
                pButton>
              <p-table #dt [value]="bannerFilter" [tableStyle]="{'table-layout':'auto'}" [(selection)]="selectedItem"
                [paginator]="true" [rows]="15" [responsive]="true" selectionMode="single" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Link </th>
                    <th scope="col">image</th>
                    <th scope="col">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-item>
                  <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                    <td>
                      {{item.title}}
                    </td>
                    <td><img [src]="item.image" width="70" pTooltip="Banner {{bannertype}} image" /></td>
                    <td><button pTooltip="delete" pButton type="button" icon="pi pi-trash" iconPos="left" (click)="delete(item)"
                        class="ui-button-danger"> </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div></div>