<div class="wrapper">
  <app-sidemenu></app-sidemenu>
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{crud|uppercase}} Post</h3>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="region">Region *</label>
                    <select name="region" id="region" class="form-control" [(ngModel)]="cat.region">
                      <option *ngFor="let item of region" [value]="item._id">{{item.title}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="category">Category *</label>
                    <select name="category" id="category" class="form-control" [(ngModel)]="cat.category">
                      <option *ngFor="let item of category" [value]="item._id">{{item.title}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">User</label>
                    <select name="user" class="form-control" [(ngModel)]="cat.userid">
                      <option *ngFor="let item of user" [value]="item._id">{{item.firstname}} {{item.lastname}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.title">
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.address">
                  </div>
                  <!--  -->
                  <div class="form-group">
                    <label>Website link</label>
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon">www</span>
                      <input type="url" name="website" pInputText [pKeyFilter]="blockSpace" class="form-control"
                        placeholder="" [(ngModel)]="cat.website">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <p-editor [(ngModel)]="cat.description" [style]="{'height':'100px'}"></p-editor>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group">
                  <label>location</label>
                  <input type="tel" name="location" class="form-control" pInputText pKeyFilter="int" placeholder="location"
                    [(ngModel)]="cat.location">
                </div> -->
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="tel" name="phone" class="form-control" pInputText pKeyFilter="int" placeholder="phone"
                      [(ngModel)]="cat.phone">
                  </div>
                  <!-- <div class="form-group">
                  <label>Location</label>
                  <input type="text" name="latitude" class="form-control" pInputText placeholder="latitude"
                    [(ngModel)]="cat.location.lat">
                  <input type="text" name="longitude" class="form-control" pInputText placeholder="longitude"
                    [(ngModel)]="cat.location.lng">
                </div> -->
                  <div class="form-group">
                    <label>Rating You have rated {{cat.rating}} </label>
                    <p-rating [(ngModel)]="cat.rating" [cancel]="false"></p-rating>
                  </div>
                  <label>Timing </label>
                  <div class="form-group" *ngFor="let item of timing; let i=index">
                    <div class="row">
                      <div class="col-md-2">
                        <label>{{item.date}}</label>
                      </div>
                      <div class="col-md-10">
                        <div class="col-xs-2">
                          <label for="fullDayId_{{i}}"><i class="fa fa-clock-o
                              " title="Full Day" aria-hidden="true"></i></label>&nbsp;
                          <input id="fullDayId_{{i}}" type="checkbox" [(ngModel)]="item.fullDay"
                            (click)="fullDayTime(item,$event)">
                        </div>
                        <div class="col-xs-3">
                          <input type="time" [disabled]="item.fullDay" [(ngModel)]="item.starttime"
                            (blur)="checkFullDay(item)">
                        </div>
                        <div class="col-xs-3">
                          <input type="time" [disabled]="item.fullDay" [(ngModel)]="item.endtime"
                            (blur)="checkFullDay(item)">
                        </div>
                        <div class="col-xs-2" *ngIf="i==0 && item.starttime[0] && item.endtime[0]">
                          <button class="btn btn-success btn-xs" type="button" (click)="setAllTime()">
                            <span class="icon-repeat">Set All</span>
                          </button>
                        </div>
                        <div class="col-xs-2" *ngIf="i==0 && item.starttime[0] && item.endtime[0]">
                          <button class="btn btn-primary btn-xs" type="button" (click)="resetAllTime()">
                            <span class="icon-refresh"><i class="fa fa-refresh" title="Reset All"
                                aria-hidden="true"></i></span>
                          </button>
                        </div>
                        <div class="col-xs-3" *ngIf="i !== 0 && item.starttime">
                          <button class="btn btn-danger btn-xs" type="button" (click)="deleteTime(item)">
                            <span class="fa fa-times"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Status</label><br />
                    <p-toggleButton onLabel="Enable" offLabel="Disable" onIcon="fa fa-check" offIcon="fa fa-times"
                      iconPos="right" [(ngModel)]="cat.active">
                    </p-toggleButton>
                  </div>
                  <p-button icon="pi pi-check" iconPos="left" type="button" (click)="addPost()" label="Save"></p-button>
                  <div class="form-group" *ngIf="this.crud=='edit'">
                    <label>Image</label>
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>