<div class="wrapper">

<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Post Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button pTooltip="Add new post" label="Add" pButton type="button" icon="pi pi-plus" iconPos="left"
                [routerLink]="['/add-post']" [queryParams]="{type:'add'}"></button>
              <p-table [responsive]="true" [columns]="cols" #dt [value]="postFilterByRegion"
                [tableStyle]="{'table-layout':'auto'}" [paginator]="true" [rows]="30" [responsive]="true"
                selectionMode="single" dataKey="title">
                <ng-template pTemplate="caption">
                  <div class="ui-g">
                    <div class="ui-g-4">
                      <p-dropdown [options]="region" [(ngModel)]="regionSearch" placeholder="Select a Region"
                        optionLabel="title"></p-dropdown>
                    </div>
                    <div class="ui-g-4">
                      <p-dropdown (onChange)="onChange($event)" [filter]="false" [options]="category"
                        [(ngModel)]="categorysearch" placeholder="Select a category" optionLabel="title"
                        [showClear]="true"></p-dropdown>
                    </div>
                    <div class="ui-g-4">
                      <div class="ui-inputgroup">
                        <input type="search" pTooltip="search" tooltipPosition="top" pInputText placeholder="Filter"
                          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto"> <button pButton
                          type="button" icon="fa fa-search" class="ui-button-warn"></button>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Phone</th>

                    <th scope="col">action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td> <span pTooltip="Updated at {{item.updatedAt|date:'short'}}">{{item.title}}

                      </span>
                      <i pTooltip="Disable" *ngIf="!item.active" class="pi pi-times-circle "></i>

                    </td>
                    <td>
                      <div *ngIf="item.images!=''"> <img [src]="item.images" width="30" height="30">
                      </div>
                    </td>
                    <td>{{item.category.title}}

                    </td>
                    <td>{{item.tags.length}} </td>
                    <td>{{item.phone}} </td>
                    <td>
                      <p-button styleClass="ui-button-warning" pTooltip="Update Images" icon="pi pi-images"
                        iconPos="left" [routerLink]="['/image']" [queryParams]="{id:item._id}"></p-button>

                      <p-button pTooltip="Edit post" styleClass="ui-button-info" icon="pi pi-pencil" iconPos="left"
                        [routerLink]="['/add-post']" [queryParams]="{type:'edit',id:item._id}"></p-button>
                      <p-button pTooltip="Tag this post for better search" styleClass="ui-button-success"
                        icon="pi pi-tags" iconPos="left" data-toggle="modal" (click)="openTag(item)"
                        data-target="#tagModal"></p-button>
                      <p-button styleClass="ui-button-danger" pTooltip="Delete post" icon="pi pi-trash" iconPos="left"
                        (click)="delete(item)"></p-button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div style="text-align: left">
                    <code>
                    <div *ngFor="let item of userda| keyvalue">
                      {{ item.key }} - {{ item.value }}
                    </div>
                  </code>
                  </div>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div id="tagModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Add tag</label>
          <input type="text" name="tag" class="form-control" placeholder="Add tag" [(ngModel)]="tagval.title">
          <button (click)="addTag()">add</button>
        </div>
        <h4>
          <p>Selected tag</p>
        </h4>
        <ul class="tags">
          <li *ngFor="let item of selectedtags;let i = index">
            <a (click)="deleteTag(item,i)" class="tag selected">{{item}}</a>
        </ul>
        <h4>
          <p>Tag exists</p>
        </h4>
        <ul class="tags">
          <li *ngFor="let item of tag;let i = index">
            <a (click)="selectTag(item.tagname)" class="tag "> {{item.tagname}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>