<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <div class="form-group">
    <label>FULL NAME</label>
    <input name="FullName" #FullName="ngModel" [(ngModel)]="service.formData.FullName" class="form-control" required>
    <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <label>Login Email</label>
    <input name="email" #Email="ngModel" [(ngModel)]="service.formData.email" class="form-control">
  </div>
  <div class="form-group">
    <label>Login Password</label>
    <input name="password" #Password="ngModel" [(ngModel)]="service.formData.password" class="form-control">
  </div>
  <div class="form-group">
    <label>POSITION</label>
    <input name="Position" #Position="ngModel" [(ngModel)]="service.formData.Position" class="form-control">
  </div>
  <div class="form-group">
    <label>ROLE</label>

    <select name="Role" #Position="ngModel" [(ngModel)]="service.formData.Role" class="form-control">
      <option value="admin">Admin</option>
      <option value="guest">Guest</option>
    </select>
  </div>
  <div class="form-group">
    <label for="region">Region</label>
    <select name="region" class="form-control" [(ngModel)]="service.formData.region">
      <option *ngFor="let item of region" [value]="item._id">{{item.title}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>EMP CODE</label>
      <input name="EMPCode" #EMPCode="ngModel" [(ngModel)]="service.formData.EMPCode" class="form-control">
    </div>
    <div class="form-group  col-md-6">
      <label>MOBILE</label>
      <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" class="form-control">
    </div>

  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>