<div class="wrapper">
  <app-sidemenu *ngIf="access" [accessValues]="access"></app-sidemenu>
  <div class="content-wrapper" *ngIf="checkPrivilege('Dashboard')">
    <section class="content">
      <div class="row">
        <div class="col-md-2 text-link" *ngFor="let item of dashbordCount;let i=index" (click)="showPage(item)">
          <div class="small-box {{item.color}}">
            <div class="inner">
              <h3>{{item.count}}</h3>
              <p>{{item.name}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Today Orders</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <p>Total Sales {{totalprice|currency:'INR'}}</p>
          <p-table [columns]="cols" #dt [value]="orderList">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <input type="search" pTooltip="search" tooltipPosition="top" pInputText placeholder="Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of cols">
                  {{item[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="box-body card">
          <p>Shipping Charges</p>
          <button class="btn btn-info btn-xs" (click)="add=!add;resetShippingForm()"><i class="fa fa-plus"></i>
            {{(!add)?'Add':'Show listing'}}</button>
          <p-table [columns]="cols" #dt [value]="settingData" *ngIf="!add">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of settingCols" [pSortableColumn]="settingCols.field">
                  {{col.header}}
                  <p-sortIcon [field]="settingCols.field"></p-sortIcon>
                </th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td *ngFor="let col of settingCols">
                  {{item[col.field]}}
                </td>

                <td>
                  <i class="fa fa-pencil fa-2x text-link" (click)="edit(item)"></i>
                </td>
                <td> <i class="fa fa-times fa-2x text-link" (click)="delete(item)"></i>
                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>
        <!--  -->
        <div class="col-lg-8 card" *ngIf="add">
          <form class="form-horizontal">
            <div class="card-body">
              <div class="form-group row">
                <label for="region" class="col-sm-2 control-label">Region</label>
                <div class="col-sm-10">
                  <input type="text" name="region" [(ngModel)]="charges.key" class="form-control" id="region"
                    placeholder="region">
                </div>
              </div>
              <div class="form-group row">
                <label for="amount" class="col-sm-2 control-label">Amount</label>
                <div class="col-sm-10">
                  <input type="number" name="amount" [(ngModel)]="charges.value" class="form-control" id="amount"
                    placeholder="amount">
                </div>
              </div>
              <div class="form-group row">
                <label for="status" class="col-sm-2 control-label">Shipping </label>
                <div class="col-sm-10">
                  <p-selectButton [options]="shippingStatus" name="status" [(ngModel)]="charges.status"></p-selectButton>

                </div>
              </div>
              <div class="form-group row">
                <label for="status" class="col-sm-2 control-label">Shipping closed comment</label>
                <div class="col-sm-10">
                  <input type="text" name="msg" [(ngModel)]="charges.msg" class="form-control" id="msg"
                    placeholder="comment">
                </div>
              </div>

            </div>
            <div class="card-footer">
              <button type="submit" *ngIf="!_edit" class="btn btn-info btn-xs" (click)="addShippingCharges()">Save</button>
              <button type="submit" *ngIf="_edit" class="btn btn-info btn-xs" (click)="editShippingCharges()">Save Edit</button>
              
            </div>
          </form>
        </div>
        <!--  -->
      </div>
    </section>
  </div>
</div>