/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body .ui-widget {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.text-link{
    cursor: pointer;
}
.h3, h3 {
    font-size: 1rem;
}
